@import './../../styles/mixins.scss';

.hero {
  padding-top: 10em;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1s ease,
    transform 1s ease;

  @include lg {
    padding-top: 13em;
  }

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include lg {
      flex-direction: row;
    }
  }

  &__col {
    flex: 1;
    overflow: hidden;

    &:nth-child(2) {
      padding-top: 60px;
      max-width: 250px;
      margin: 0 auto;

      @include sm {
        max-width: 400px;
      }

      @include md {
        max-width: 500px;
      }

      @include lg {
        max-width: initial;
        margin: initial;
      }
    }

    img {
      width: 100%;
    }
  }

  &__reviews {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 16px;
  }

  &__clients {
    display: flex;
  }

  &__client {
    width: 45px;
    max-width: 45px;
    height: 45px;
    margin-right: -16px;

    img {
      border-radius: 100px;
    }
  }

  &__stars {
    display: flex;
    gap: 4px;
  }

  &__star {
    width: 20px;
    height: 20px;
  }

  &__quantity {
    &-text {
      font-size: 13px;
      margin-top: 4px;
    }
  }

  &__text {
    font-size: 16px;
    max-width: 580px;
    margin-top: 12px;

    @include md {
      font-size: 18px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }

  &__btn {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 44px;
      border: 1px solid #ff532e;
      border-radius: 10px;
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
    }

    &--orange {
      a {
        background: #ff532e;

        &:hover {
          border-color: #ff532e;
          background: #bd3406;
        }
      }
    }

    &--transparent {
      a {
        background-image: linear-gradient(#f8f6ff, #fff1ea);
        color: #181a18;

        &:hover {
          border-color: #1f201d;
          background: #1f201d;
          color: #fff;
        }
      }
    }
  }
}
