@import './../../styles/mixins.scss';

.footer {
  padding: 40px 0;
  margin-top: 70px;
  background: #181a18;

  @include md {
    padding: 70px 45px;
  }

  @include md {
    margin-top: 140px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;

    @include lg {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }

    &--visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include lg {
      width: 34.0909%;
    }
  }

  &__menu {
    width: 100%;

    @include lg {
      width: 56.0606%;
    }
  }

  &__logo {

    img {
      width: 150px;
    }
  }

  &__text {
    max-width: 450px;
    color: whitesmoke;
    font-weight: 400;
    line-height: 1.75;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__social {

    a {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2B2D2B;
      border-radius: 100%;
      box-sizing: border-box;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    img {
      width: 17px;
      height: 17px;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include sm {
    flex-direction: row;
    gap: 80px;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #ff532e36;
    padding-bottom: 5px;
  }

  &__item {
    padding-top: 4px;
    padding-bottom: 4px;

    @include sm {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    a {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s;
      font-size: 14px;

      &:hover {
        color: #ff532e;
      }

      @include sm {
        font-size: 16px;
      }
    }

    &--active {

      a {
        color: #ff532e;
      }
    }
  }
}