@import './../../styles/mixins.scss';

.sidebar {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s ease,
    transform 0.4s ease;
  position: fixed;
  top: 100px; // <-- ниже header
  right: 0;
  width: 100%;
  z-index: 2;

  &--open {
    max-height: 400px;
    opacity: 1;
    transform: translateY(0);
  }

  &__nav {
    display: flex;
    background: #323232;
    border-radius: 10px;
    justify-content: center;
    padding: 24px 0;
    margin-top: 8px;

    @include lg {
      display: none;
    }
  }

  .menu {
    &__list {
      flex-direction: column;
    }
  }
}
