@import 'normalize.css';
@import './styles/mixins.scss';
@import './styles/variables.scss';
@import './styles/container.scss';
@import './styles/fonts.scss';

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #374151;
}

.main-title {
  margin: 0;
  color: #181a18;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;

  @include sm {
    font-size: 42px;
  }

  @include md {
    font-size: 55px;
  }

  @include lg {
    font-size: 60px;
  }

  br {
    display: none;
  }

  @include lg {

    br {
      display: block;
    }
  }
}

.section-title {
  margin: 0;
  color: #181a18;
  letter-spacing: .66px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 16px;
  text-align: center;

  @include md {
    font-size: 32px;
  }

  @include lg {
    font-size: 45px;
  }
}

.badge {
  background-image: linear-gradient(#ffece1, #f7fbf6);
  padding: 8px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  letter-spacing: .08px;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: 500;
}