@import 'normalize.css';
@import './styles/mixins.scss';
@import './styles/variables.scss';
@import './styles/container.scss';
@import './styles/fonts.scss';

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #374151;
}