@import 'normalize.css';
@import './styles/mixins.scss';
@import './styles/variables.scss';
@import './styles/container.scss';
@import './styles/fonts.scss';

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #374151;
}

.main-title {
  color: #181a18;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;

  @include sm {
    font-size: 42px;
  }

  @include md {
    font-size: 55px;
  }

  @include lg {
    font-size: 60px;
  }

  br {
    display: none;
  }

  @include lg {

    br {
      display: block;
    }
  }
}