@use './variables' as vars;

@mixin sm {
  @media (min-width: vars.$sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: vars.$md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: vars.$lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: vars.$xl) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: vars.$xxl) {
    @content;
  }
}
